

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

section {
    padding: 50px 0;
}

#projects .project, #certificates .certificate {
    display: inline-block;
    margin: 10px;
}


